{
    "parserOptions": {
        "ecmaVersion": 11,
        "sourceType": "module"
    },
    "parser": "babel-eslint",
    "globals": {
        "process": true
    },
    "env": {
        "es6": true,
        "browser": true,
        "jest": true
    },
    "plugins": [
        "babel",
        "react"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended"
    ],
    "rules": {
        "babel/new-cap": 1,
        "babel/camelcase": 1,
        "babel/no-invalid-this": 1,
        "babel/object-curly-spacing": 1,
        "babel/quotes": 1,
        "babel/semi": 1,
        "babel/no-unused-expressions": 1,
        "babel/valid-typeof": 1
    }
}